/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    font-style: italic;
}

body {
    min-height: 100vh;
}

/* Custom properties */
:root {
    --clr-primary: 0 0% 0%;
    --clr-secondary: 0 0% 100%;

    --flow-space: 1.5rem;
}

/* Utility classes */
.bg-primary {
    background-color: hsl(var(--clr-primary));
}

.text-secondary {
    color: hsl(var(--clr-secondary));
}

.wrapper {
    max-width: 80rem;
    padding-inline: var(--flow-space);
    margin-inline: auto;
}

.flow > * + * {
    margin-top: var(--flow-space);
}

/* Components */
h1 {
    padding-top: var(--flow-space);
}

.people {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-auto-rows: 12rem auto auto;
    gap: var(--flow-space);
    padding-bottom: var(--flow-space);
}

.person {
    grid-row: span 3;
    display: grid;
    grid-template-rows: subgrid;
    border: 3px solid hsl(var(--clr-secondary));
    overflow: hidden;
}

.person__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.person div {
    padding-inline: var(--flow-space);
    display: grid;
    gap: var(--flow-space);
}
